{% extends 'master.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Written by | {{ author.name }} {{ author.surname }}</h2>

    <h3 class="mt-4" style="margin-bottom: 15px;">Available Books</h3>
    <ul class="list-group">
        {% for book, review_count in books_with_reviews %}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 80%;">
                <a style="flex: 0 0 auto; width: 40%; text-align: left;" href="{% url 'book_page' author_id=author.id book_title=book.title %}">{{ book.title }}</a>
                {% if not book.is_available %}
                    <strong>Booked</strong>
                {% endif %}
                <p class="mb-0" style="flex: 0 0 auto; width: 40%; text-align: right;">Total Reviews: {{ review_count }}</p>
            </li>
        {% empty %}
            <li class="list-group-item">No books available.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'home_page' %}" class="btn btn-secondary mt-4">Back to Home Page</a>
</div>
{% endblock %}