{% extends 'master.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-3">Reservation For: </h2>
    <h2 class="mb-3">{{ book.author }} - {{ book.title }}</h2>

    {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <p class="mb-3">{{ book.description }}</p>

    <form method="post">
        {% csrf_token %}
        {% if book.is_available %}
            {% if user.is_authenticated  %}
                <input type="hidden" name="confirm_booking">
                <button type="submit" class="btn btn-primary">Confirm Booking</button>
            {% else %}
                <p><strong>Log In to make a reservation | </strong><a href="{% url 'login' %}" class="btn btn-info">Log In</a></p>
            {% endif %}
        {% else %}
            {% if reservation.client.user.username == request.user.username %}
                <input type="hidden" name="cancel_booking">
                <button type="submit" class="btn btn-danger">Cancel Booking</button>
            {% else %}
                <p><strong>This book is reserved</strong></p>
            {% endif %}
        {% endif %}
    </form>

    <a href="{% url 'author_page' author_id=book.author.id %}" class="btn btn-secondary mt-3">Back to Author's Page</a>
    <a href="{% url 'book_reviews' author_id=book.author.id book_title=book.title %}" class="btn btn-secondary mt-3">See all reviews</a>
</div>
{% endblock %}